<div class="page-header">
  <%= link_to vehicles_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_vehicle_path(@vehicle), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show vehicle</h1>
</div>
<dl class="dl-horizontal">

<% if @vehicle.avatar.exists? then %>
  <%= image_tag @vehicle.avatar.url(:thumb) %></p>
  <% else %>
  <p> No photo... </p>
<% end %>

  <dt>Manufacturer:</dt>
  <dd><%= @vehicle.manufacturer %></dd>

  <dt>Modell:</dt>
  <dd><%= @vehicle.subtype %></dd>

  <dt>Year:</dt>
  <dd><%= @vehicle.year %></dd>

  <dt>Color:</dt>
  <dd><%= @vehicle.color %></dd>

  <dt>Owner:</dt>
  <dd><%= @vehicle.user.email %></dd>

  <dt>Type:</dt>
  <dd><%= @vehicle.type %></dd>

  <dt>Props:</dt>
  <dd><%= @vehicle.properties.map{|pr| pr.name}.sort.join(', ')%></dd>

  <dt>Prop vals:</dt>
  <dd>
    <% @vehicle.vehicleprops.each do |prop| %>
      <%= prop.get_property_string %>
    <% end %>
  </dd>
</dl>
